<!doctype html><p align=center><font size=+1 color=red>This website was created by evaluation version of PHPRunner Trial.</font></p>
<p align=center><font size=+1 color=red>This warning message will not appear on website created by a paid-for version of PHPRunner Trial.</font></p>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>
	<body class="{$stylename} function-menu"  >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<div class="r-topbar-page">
			<div data-menu-width="full" 
				 
				class="r-topheader" 
				data-resize-name="topbar"
				data-body-align="left"
			>
								{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="topbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class="r-align-left navbar-header" data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</span>
		 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class="r-align-left navbar-collapse" data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main horizontal}			</span>
							 
							 
				<span class="navbar-form r-align-right r-ori-vert navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-cog"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								{BEGIN EnglishLANGLINK}
	<li><a href="#" data-lang="English" class="rnr-langlink">
		{BEGIN EnglishLANGLINK_ACTIVE}<span class="glyphicon glyphicon-ok">&nbsp;</span>{END EnglishLANGLINK_ACTIVE}
		English</a></li>
	{END EnglishLANGLINK}
	{BEGIN JapaneseLANGLINK}
	<li><a href="#" data-lang="Japanese" class="rnr-langlink">
		{BEGIN JapaneseLANGLINK_ACTIVE}<span class="glyphicon glyphicon-ok">&nbsp;</span>{END JapaneseLANGLINK_ACTIVE}
		日本語</a></li>
	{END JapaneseLANGLINK}
					</ul>
	</span>
</span>
			</span>
								</nav>
{END supertop_block}
					{$locking}
			</div>	
			<div data-body-align="left"  data-body-width="standard" class="r-body" data-resize-top="topbar" >
				<div class="r-top">
										</div>
				<div class="r-content">
										<div class="r-data-block" data-body-width="standard" >
						
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="topbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
				{END firstAboveGridCell}	
	</div>					</div>
	</div>		
{END above-grid_block}
							
						<div class="r-grid">
										{BEGIN grid_block}
<table class="r-fluid r-form" data-location="grid" id="form_grid_{$pageid}" data-makeup="topbar" {$form_grid} data-pageid="{$pageid}" >
						<tbody>
			
								<tr {$row_grid_0} >
									<td 
	
			 
	data-cellId="grid_c1" data-pageid="{$pageid}">
<div class="r-welcome-align">
 
		
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item2" {$item_welcome_item2} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="17">
	<div class="bs-welcome-header">
		<a id="itemlink" href="asset_list.php"  > 
							<span class="glyphicon glyphicon-calendar"></span>{$caption asset}					</a>
	</div>

			
	<div class="bs-welcome-content">
		Asset description	</div>
	</div>

 
		
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item4" {$item_welcome_item4} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="19">
	<div class="bs-welcome-header">
		<a id="itemlink" href="account_list.php"  > 
							<span class="glyphicon glyphicon-calendar"></span>{$caption account}					</a>
	</div>

			
	<div class="bs-welcome-content">
		Account description	</div>
	</div>

 

<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item5" {$item_welcome_item5} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="product_series_list.php"  > 
							<span class="glyphicon glyphicon-barcode"></span>{$caption product_series}					</a>
	</div>

	</div>

 

<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item6" {$item_welcome_item6} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="account_product_series_list.php"  > 
							<span class="glyphicon glyphicon-calendar"></span>{$caption account_product_series}					</a>
	</div>

	</div>

 

<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item7" {$item_welcome_item7} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="invitation_list.php"  > 
							{$caption invitation}					</a>
	</div>

	</div>

 

<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item8" {$item_welcome_item8} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="contact_list.php"  > 
							{$caption contact}					</a>
	</div>

	</div>

 

<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item9" {$item_welcome_item9} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="device_list.php"  > 
							{$caption device}					</a>
	</div>

	</div>

 

<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item10" {$item_welcome_item10} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="group_list.php"  > 
							{$caption group}					</a>
	</div>

	</div>

 

<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item11" {$item_welcome_item11} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="device_action_list.php"  > 
							{$caption device_action}					</a>
	</div>

	</div>

 

<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item" {$item_welcome_item} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="case_contact_role_list.php"  > 
							{$caption case_contact_role}					</a>
	</div>

	</div>

 

<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item1" {$item_welcome_item1} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="payload_list.php"  > 
							{$caption payload}					</a>
	</div>

	</div>

 

<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item3" {$item_welcome_item3} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="metric_list.php"  > 
							{$caption metric}					</a>
	</div>

	</div>

 

<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item12" {$item_welcome_item12} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="case_list.php"  > 
							{$caption case}					</a>
	</div>

	</div>

 

<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item13" {$item_welcome_item13} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="casecomment_list.php"  > 
							{$caption casecomment}					</a>
	</div>

	</div>

 

<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item14" {$item_welcome_item14} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="journal_list.php"  > 
							{$caption journal}					</a>
	</div>

	</div>

 

<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item15" {$item_welcome_item15} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="link_list.php"  > 
							{$caption link}					</a>
	</div>

	</div>

 

<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item16" {$item_welcome_item16} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="asset1_list.php"  > 
							{$caption asset1}					</a>
	</div>

	</div>

</div>
</td>
							</tr>
					
					</tbody>
				</table>
{END grid_block}
							</div>
						
														
					</div>
				</div>
			</div>
		</div>
		{$footer}
	{END body}
	</body>
</html>
