<!doctype html><p align=center><font size=+1 color=red>This website was created by evaluation version of PHPRunner Trial.</font></p>
<p align=center><font size=+1 color=red>This warning message will not appear on website created by a paid-for version of PHPRunner Trial.</font></p>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel case_contact_role search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN _id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass__id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="_id" data-fieldname="_id" >


	<label class="r-search-label control-label" for="{$labelfor__id}">
		{$label case_contact_role _id }	</label>
	<div class="r-search-option">
		{$searchtype__id}
	</div>
	<div class="r-search-field">
		{$_id_editcontrol}	</div>
	<div class="r-search-field">
		{$_id_editcontrol1}
	</div>
	
</div>

{END _id_fieldblock}
											
{BEGIN account_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_account_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="account_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="account_id" data-fieldname="account_id" >


	<label class="r-search-label control-label" for="{$labelfor_account_id}">
		{$label case_contact_role account_id }	</label>
	<div class="r-search-option">
		{$searchtype_account_id}
	</div>
	<div class="r-search-field">
		{$account_id_editcontrol}	</div>
	<div class="r-search-field">
		{$account_id_editcontrol1}
	</div>
	
</div>

{END account_id_fieldblock}
											
{BEGIN role1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_role1}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="role1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="role1" data-fieldname="role1" >


	<label class="r-search-label control-label" for="{$labelfor_role1}">
		{$label case_contact_role role1 }	</label>
	<div class="r-search-option">
		{$searchtype_role1}
	</div>
	<div class="r-search-field">
		{$role1_editcontrol}	</div>
	<div class="r-search-field">
		{$role1_editcontrol1}
	</div>
	
</div>

{END role1_fieldblock}
											
{BEGIN successful_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_successful}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="successful{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="successful" data-fieldname="successful" >


	<label class="r-search-label control-label" for="{$labelfor_successful}">
		{$label case_contact_role successful }	</label>
	<div class="r-search-option">
		{$searchtype_successful}
	</div>
	<div class="r-search-field">
		{$successful_editcontrol}	</div>
	<div class="r-search-field">
		{$successful_editcontrol1}
	</div>
	
</div>

{END successful_fieldblock}
											
{BEGIN failed_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_failed}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="failed{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="failed" data-fieldname="failed" >


	<label class="r-search-label control-label" for="{$labelfor_failed}">
		{$label case_contact_role failed }	</label>
	<div class="r-search-option">
		{$searchtype_failed}
	</div>
	<div class="r-search-field">
		{$failed_editcontrol}	</div>
	<div class="r-search-field">
		{$failed_editcontrol1}
	</div>
	
</div>

{END failed_fieldblock}
											
{BEGIN _index_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass__index}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="_index{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="_index" data-fieldname="_index" >


	<label class="r-search-label control-label" for="{$labelfor__index}">
		{$label case_contact_role _index }	</label>
	<div class="r-search-option">
		{$searchtype__index}
	</div>
	<div class="r-search-field">
		{$_index_editcontrol}	</div>
	<div class="r-search-field">
		{$_index_editcontrol1}
	</div>
	
</div>

{END _index_fieldblock}
											
{BEGIN _type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass__type}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="_type" data-fieldname="_type" >


	<label class="r-search-label control-label" for="{$labelfor__type}">
		{$label case_contact_role _type }	</label>
	<div class="r-search-option">
		{$searchtype__type}
	</div>
	<div class="r-search-field">
		{$_type_editcontrol}	</div>
	<div class="r-search-field">
		{$_type_editcontrol1}
	</div>
	
</div>

{END _type_fieldblock}
											
{BEGIN product_series_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_product_series_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="product_series_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="product_series_id" data-fieldname="product_series_id" >


	<label class="r-search-label control-label" for="{$labelfor_product_series_id}">
		{$label case_contact_role product_series_id }	</label>
	<div class="r-search-option">
		{$searchtype_product_series_id}
	</div>
	<div class="r-search-field">
		{$product_series_id_editcontrol}	</div>
	<div class="r-search-field">
		{$product_series_id_editcontrol1}
	</div>
	
</div>

{END product_series_id_fieldblock}
											
{BEGIN original_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_original_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="original_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="original_id" data-fieldname="original_id" >


	<label class="r-search-label control-label" for="{$labelfor_original_id}">
		{$label case_contact_role original_id }	</label>
	<div class="r-search-option">
		{$searchtype_original_id}
	</div>
	<div class="r-search-field">
		{$original_id_editcontrol}	</div>
	<div class="r-search-field">
		{$original_id_editcontrol1}
	</div>
	
</div>

{END original_id_fieldblock}
											
{BEGIN name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="name" data-fieldname="name" >


	<label class="r-search-label control-label" for="{$labelfor_name}">
		{$label case_contact_role name }	</label>
	<div class="r-search-option">
		{$searchtype_name}
	</div>
	<div class="r-search-field">
		{$name_editcontrol}	</div>
	<div class="r-search-field">
		{$name_editcontrol1}
	</div>
	
</div>

{END name_fieldblock}
											
{BEGIN update_at_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_update_at}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="update_at{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="update_at" data-fieldname="update_at" >


	<label class="r-search-label control-label" for="{$labelfor_update_at}">
		{$label case_contact_role update_at }	</label>
	<div class="r-search-option">
		{$searchtype_update_at}
	</div>
	<div class="r-search-field">
		{$update_at_editcontrol}	</div>
	<div class="r-search-field">
		{$update_at_editcontrol1}
	</div>
	
</div>

{END update_at_fieldblock}
											
{BEGIN created_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_created}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="created{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="created" data-fieldname="created" >


	<label class="r-search-label control-label" for="{$labelfor_created}">
		{$label case_contact_role created }	</label>
	<div class="r-search-option">
		{$searchtype_created}
	</div>
	<div class="r-search-field">
		{$created_editcontrol}	</div>
	<div class="r-search-field">
		{$created_editcontrol1}
	</div>
	
</div>

{END created_fieldblock}
											
{BEGIN create_at_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_create_at}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="create_at{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="create_at" data-fieldname="create_at" >


	<label class="r-search-label control-label" for="{$labelfor_create_at}">
		{$label case_contact_role create_at }	</label>
	<div class="r-search-option">
		{$searchtype_create_at}
	</div>
	<div class="r-search-field">
		{$create_at_editcontrol}	</div>
	<div class="r-search-field">
		{$create_at_editcontrol1}
	</div>
	
</div>

{END create_at_fieldblock}
											
{BEGIN updated_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_updated}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="updated{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="updated" data-fieldname="updated" >


	<label class="r-search-label control-label" for="{$labelfor_updated}">
		{$label case_contact_role updated }	</label>
	<div class="r-search-option">
		{$searchtype_updated}
	</div>
	<div class="r-search-field">
		{$updated_editcontrol}	</div>
	<div class="r-search-field">
		{$updated_editcontrol1}
	</div>
	
</div>

{END updated_fieldblock}
											
{BEGIN update_at1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_update_at1}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="update_at1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="update_at1" data-fieldname="update_at1" >


	<label class="r-search-label control-label" for="{$labelfor_update_at1}">
		{$label case_contact_role update_at1 }	</label>
	<div class="r-search-option">
		{$searchtype_update_at1}
	</div>
	<div class="r-search-field">
		{$update_at1_editcontrol}	</div>
	<div class="r-search-field">
		{$update_at1_editcontrol1}
	</div>
	
</div>

{END update_at1_fieldblock}
											
{BEGIN deleted_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_deleted}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="deleted{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="deleted" data-fieldname="deleted" >


	<label class="r-search-label control-label" for="{$labelfor_deleted}">
		{$label case_contact_role deleted }	</label>
	<div class="r-search-option">
		{$searchtype_deleted}
	</div>
	<div class="r-search-field">
		{$deleted_editcontrol}	</div>
	<div class="r-search-field">
		{$deleted_editcontrol1}
	</div>
	
</div>

{END deleted_fieldblock}
											
{BEGIN delete_at_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_delete_at}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="delete_at{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="delete_at" data-fieldname="delete_at" >


	<label class="r-search-label control-label" for="{$labelfor_delete_at}">
		{$label case_contact_role delete_at }	</label>
	<div class="r-search-option">
		{$searchtype_delete_at}
	</div>
	<div class="r-search-field">
		{$delete_at_editcontrol}	</div>
	<div class="r-search-field">
		{$delete_at_editcontrol1}
	</div>
	
</div>

{END delete_at_fieldblock}
											
{BEGIN is_deleted_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_is_deleted}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="is_deleted{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="is_deleted" data-fieldname="is_deleted" >


	<label class="r-search-label control-label" for="{$labelfor_is_deleted}">
		{$label case_contact_role is_deleted }	</label>
	<div class="r-search-option">
		{$searchtype_is_deleted}
	</div>
	<div class="r-search-field">
		{$is_deleted_editcontrol}	</div>
	<div class="r-search-field">
		{$is_deleted_editcontrol1}
	</div>
	
</div>

{END is_deleted_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							{mlang_message SEARCH}			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							{mlang_message RESET}			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							{mlang_message CANCEL}			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
