<!doctype html><p align=center><font size=+1 color=red>This website was created by evaluation version of PHPRunner Trial.</font></p>
<p align=center><font size=+1 color=red>This warning message will not appear on website created by a paid-for version of PHPRunner Trial.</font></p>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel invitation search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN _id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass__id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="_id" data-fieldname="_id" >


	<label class="r-search-label control-label" for="{$labelfor__id}">
		{$label invitation _id }	</label>
	<div class="r-search-option">
		{$searchtype__id}
	</div>
	<div class="r-search-field">
		{$_id_editcontrol}	</div>
	<div class="r-search-field">
		{$_id_editcontrol1}
	</div>
	
</div>

{END _id_fieldblock}
											
{BEGIN account_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_account_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="account_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="account_id" data-fieldname="account_id" >


	<label class="r-search-label control-label" for="{$labelfor_account_id}">
		{$label invitation account_id }	</label>
	<div class="r-search-option">
		{$searchtype_account_id}
	</div>
	<div class="r-search-field">
		{$account_id_editcontrol}	</div>
	<div class="r-search-field">
		{$account_id_editcontrol1}
	</div>
	
</div>

{END account_id_fieldblock}
											
{BEGIN _index_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass__index}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="_index{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="_index" data-fieldname="_index" >


	<label class="r-search-label control-label" for="{$labelfor__index}">
		{$label invitation _index }	</label>
	<div class="r-search-option">
		{$searchtype__index}
	</div>
	<div class="r-search-field">
		{$_index_editcontrol}	</div>
	<div class="r-search-field">
		{$_index_editcontrol1}
	</div>
	
</div>

{END _index_fieldblock}
											
{BEGIN _type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass__type}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="_type" data-fieldname="_type" >


	<label class="r-search-label control-label" for="{$labelfor__type}">
		{$label invitation _type }	</label>
	<div class="r-search-option">
		{$searchtype__type}
	</div>
	<div class="r-search-field">
		{$_type_editcontrol}	</div>
	<div class="r-search-field">
		{$_type_editcontrol1}
	</div>
	
</div>

{END _type_fieldblock}
											
{BEGIN invited_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_invited_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="invited_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="invited_id" data-fieldname="invited_id" >


	<label class="r-search-label control-label" for="{$labelfor_invited_id}">
		{$label invitation invited_id }	</label>
	<div class="r-search-option">
		{$searchtype_invited_id}
	</div>
	<div class="r-search-field">
		{$invited_id_editcontrol}	</div>
	<div class="r-search-field">
		{$invited_id_editcontrol1}
	</div>
	
</div>

{END invited_id_fieldblock}
											
{BEGIN email_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_email}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="email{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="email" data-fieldname="email" >


	<label class="r-search-label control-label" for="{$labelfor_email}">
		{$label invitation email }	</label>
	<div class="r-search-option">
		{$searchtype_email}
	</div>
	<div class="r-search-field">
		{$email_editcontrol}	</div>
	<div class="r-search-field">
		{$email_editcontrol1}
	</div>
	
</div>

{END email_fieldblock}
											
{BEGIN invite_at_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_invite_at}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="invite_at{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="invite_at" data-fieldname="invite_at" >


	<label class="r-search-label control-label" for="{$labelfor_invite_at}">
		{$label invitation invite_at }	</label>
	<div class="r-search-option">
		{$searchtype_invite_at}
	</div>
	<div class="r-search-field">
		{$invite_at_editcontrol}	</div>
	<div class="r-search-field">
		{$invite_at_editcontrol1}
	</div>
	
</div>

{END invite_at_fieldblock}
											
{BEGIN expire_at_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_expire_at}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="expire_at{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="expire_at" data-fieldname="expire_at" >


	<label class="r-search-label control-label" for="{$labelfor_expire_at}">
		{$label invitation expire_at }	</label>
	<div class="r-search-option">
		{$searchtype_expire_at}
	</div>
	<div class="r-search-field">
		{$expire_at_editcontrol}	</div>
	<div class="r-search-field">
		{$expire_at_editcontrol1}
	</div>
	
</div>

{END expire_at_fieldblock}
											
{BEGIN magiclink_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_magiclink}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="magiclink{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="magiclink" data-fieldname="magiclink" >


	<label class="r-search-label control-label" for="{$labelfor_magiclink}">
		{$label invitation magiclink }	</label>
	<div class="r-search-option">
		{$searchtype_magiclink}
	</div>
	<div class="r-search-field">
		{$magiclink_editcontrol}	</div>
	<div class="r-search-field">
		{$magiclink_editcontrol1}
	</div>
	
</div>

{END magiclink_fieldblock}
											
{BEGIN accept_at_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_accept_at}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="accept_at{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="accept_at" data-fieldname="accept_at" >


	<label class="r-search-label control-label" for="{$labelfor_accept_at}">
		{$label invitation accept_at }	</label>
	<div class="r-search-option">
		{$searchtype_accept_at}
	</div>
	<div class="r-search-field">
		{$accept_at_editcontrol}	</div>
	<div class="r-search-field">
		{$accept_at_editcontrol1}
	</div>
	
</div>

{END accept_at_fieldblock}
											
{BEGIN finish_at_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_finish_at}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="finish_at{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="finish_at" data-fieldname="finish_at" >


	<label class="r-search-label control-label" for="{$labelfor_finish_at}">
		{$label invitation finish_at }	</label>
	<div class="r-search-option">
		{$searchtype_finish_at}
	</div>
	<div class="r-search-field">
		{$finish_at_editcontrol}	</div>
	<div class="r-search-field">
		{$finish_at_editcontrol1}
	</div>
	
</div>

{END finish_at_fieldblock}
											
{BEGIN contact_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contact_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contact_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="contact_id" data-fieldname="contact_id" >


	<label class="r-search-label control-label" for="{$labelfor_contact_id}">
		{$label invitation contact_id }	</label>
	<div class="r-search-option">
		{$searchtype_contact_id}
	</div>
	<div class="r-search-field">
		{$contact_id_editcontrol}	</div>
	<div class="r-search-field">
		{$contact_id_editcontrol1}
	</div>
	
</div>

{END contact_id_fieldblock}
											
{BEGIN update_at_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_update_at}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="update_at{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="update_at" data-fieldname="update_at" >


	<label class="r-search-label control-label" for="{$labelfor_update_at}">
		{$label invitation update_at }	</label>
	<div class="r-search-option">
		{$searchtype_update_at}
	</div>
	<div class="r-search-field">
		{$update_at_editcontrol}	</div>
	<div class="r-search-field">
		{$update_at_editcontrol1}
	</div>
	
</div>

{END update_at_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							{mlang_message SEARCH}			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							{mlang_message RESET}			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							{mlang_message CANCEL}			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
